@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}

.bg-primary {
  background-color: #eeb712;
  background-size:cover;
}
.bg-secondary{
  background-image:#000000;
  background-size: cover;
}
.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-800 w-full h-1/4;
}
.mobile-nav li{
  @apply w-full text-center border-b-2 h-full;
}
.project-desc{
  @apply absolute left-0 right-0 bottom-[0] top-[0] bg-zinc-700 opacity-0 duration-500 hover:opacity-100;
}
.btn{
  @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded;
}
html {
  scroll-behavior: smooth;
}
.text-border{
  @apply border-black
}
.btn1{
  @apply bg-black px-5 py-2 font-bold hover:border-2 border-white rounded;
}